body {
  font-family: 'Roboto', sans-serif;
}

.inputMargin {
  background: none;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
  color: #333;
  padding: 5px;
  outline: none;
  transition: border-bottom 0.3s ease-in-out;
  width: 50%;
  margin-bottom: 5%;
}

input {
    background: none;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    color: #333;
    padding: 5px;
    outline: none;
    transition: border-bottom 0.3s ease-in-out;
    width: 50%;
  }

  input:focus {
    border-bottom: 2px solid #008080;
  }

  .animated-button {
    position: relative;
    background-color: #3a3a3a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 0 10px;
    margin-bottom: 4%;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
  }

  .animated-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
    transition: width 0.3s ease-in-out;
  }

  .animated-button:hover::before {
    width: 100%;
  }

  .animated-button:hover {
    animation: pulse 1s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 15%;
    flex-direction: column;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
  }
  h1 {
    text-align: center;
  }
  .box {
    background-color: #3A9BDC;
    border: 6px solid #5579C6;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .centerTitle {
    text-align: center;
    font-family: 'Kanit', sans-serif;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }